body {
    background-color: #f8f9fa;
}
.container {
    background-color: white;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
}
