.img-responsive{
    width: 50%;
    margin: 0 auto;
}

.footer-Autor{
    display: flex;
    justify-content: end;
    color: #6c757d;
    opacity: 0.65;
}
.nav-item:hover {  
    font-size: small;
    transition: cubic-bezier(0.19, 1, 0.22, 1);
    text-decoration: underline;

}
.nav-item{
    font-weight: bold;
    font-family: "Space Grotesk", sans-serif;


}
footer {
    background-color: #2D2D2D;
    color: white;
    text-align: center;
    padding: 55px 15px;
    position: relative;
    width: 100%;
    bottom: 0;
    margin-top: 20px;
  }
