body {
   background-image: url(../img/papelPeriodico.jpg);
    /* filter: opacity(0.5); */

}

.container {
    background-color: white;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
}


.nav-item:hover {  
    font-size: small;
    transition: cubic-bezier(0.19, 1, 0.22, 1);
    text-decoration: underline;

}
.nav-item{
    font-weight: bold;
    font-family: "Space Grotesk", sans-serif;


}
footer {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #333;
    border-top: 1px solid #ddd;
  }
  
.footer-container {
    max-width: 800px;
    margin: 0 auto;
  }